<h1> Edit the carwash details! </h1>

<%= form_for @carwash, :url => url_for(:controller => 'carwashes', :action => 'update') do |f| %>
<div>
    <%= f.label :detailer %><br>
    <%= f.collection_radio_buttons(:detailer_id, @detailers , :id, :name_rating) do |b| %>
        <%= b.radio_button %> 
        <%= b.object.name_rating %><br>
    <% end %>
</div><br>
 
<div> 
   <%= f.label :car %>
   <%= f.collection_radio_buttons :car_id, @cars , :id, :make %>
</div>

<div> (1-5)
    <%= f.label :user_rating %><br>
    <%= f.number_field :user_rating %>
</div>

<div> 
    <%= f.label :user_comment %><br>
    <%= f.text_field :user_comment %>
</div><br>

<%= f.submit %>
 <% end %>