<h1> Make a carwash appointment!</h1>
<%= form_for @carwash, :url => url_for(:controller => 'carwashes', :action => 'create') do |f| %>

<div> 
<%= f.label :car %><br>
<%= f.collection_check_boxes :car_id, @cars, :id, :model %>
</div>
<div>
<%= f.label :detailer %><br>
<%= f.collection_check_boxes(:detailer_id, @detailers , :id, :name_rating) do |b| %>
<%= b.check_box %> 
<%= b.object.name_rating %><br>
<% end %>



</div>



<%= f.submit %>
<% end %>
