<h1> Make a carwash appointment!</h1>
<%= form_for @carwash, :url => url_for(:controller => 'carwashes', :action => 'create') do |f| %>

<div>
<%= f.label :detailer %>
<%= f.collection_check_boxes :detailer_id, @detailers, :id, :rating%>
</div>
<div>
<%= f.label :cost%>
<%= f.number_field :cost %>
</div>
<div>

<%= f.submit %>
<% end %>
