<h1> Make a carwash appointment!</h1>

<%= form_for @carwash, :url => url_for(:controller => 'carwashes', :action => 'create') do |f| %>
  <div>
    <%= f.label :detailer %><br>
    <%= f.collection_radio_buttons(:detailer_id, @detailers , :id, :name_rating) do |b| %>
      <%= b.radio_button %> 
      <%= b.object.name_rating %><br>
    <% end %>
  </div><br>

  <div> 
    <%= f.label :car %><br>
    <%= f.collection_radio_buttons :car_id, @cars , :id, :license_plate%>
  </div> <br>

  <div> (1-5)
    <%= f.label :user_rating %><br>
    <%= f.number_field :user_rating, :value => 3 %>
</div><br>

<div> 
    <%= f.label :user_comment %><br>
    <%= f.text_field :user_comment %>
</div><br>

  <%= f.submit %>
<% end %>

<% if @carwash.errors.any? %>
  <div id="error_explanation" class="footer" >
    <h4>
      <%= pluralize(@carwash.errors.count, "error") %>
      prohibited this user from being saved:
    </h4>
 
    <ul style="color:red;">
    <% @carwash.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>