<h1>Carwash details !</h1>
<%= @carwash.id%>
<table>
    <tr>
        <th >Detailer Name</th>
        <th ><%= @carwash.detailer.name %> </th>
    </tr>
    <tr>
        <th > User Name</th>
        <th ><%= @carwash.user.name %> </th>
    </tr>
    <tr>
        <th > Car Model</th>
        <th ><%= @carwash.car.model %> </th>
    </tr>
    <tr>
        <th > $ Charged!</th>
        <th ><%= @carwash.detailer.cost %> </th>
    </tr>
    <% if @carwash.user_rating %>
        <tr>
            <th > User Rating</th>
            <th ><%= @carwash.user_rating %> </th>
        </tr>
    <% end %>
    <% if @carwash.user_comment %>
        <tr>
            <th > User Comment!</th>
            <th ><%= @carwash.user_comment %> </th>
        </tr>
    <% end %>
</table>


<strong><%= link_to 'Edit', edit_user_carwash_path(@carwash.user, @carwash) %></strong><br>
<strong><%= link_to 'Delete', user_carwash_path(@carwash.user, @carwash), :method => :delete, data: {confirm: "Are you sure?"} %></strong>


<% if @carwash.errors.any? %>
  <div id="error_explanation" class="footer" >
    <h4>
      <%= pluralize(@carwash.errors.count, "error") %>
      prohibited this user from being saved:
    </h4>
 
    <ul style="color:red;">
    <% @carwash.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>