<div class="catalyst animated bounce">
    <%= session[:message]%>
    <%= session[:message] = nil %>
</div>


<h3><%= @user.name %> Profile!</h3>

    <p><strong>Email:</strong> <%= @user.email %></p>
    <p><strong>Age: </strong> <%= @user.age %></p>
    <p><strong>Zipcode: </strong> <%= @user.zipcode %></p>
    <strong><%= link_to 'Edit', edit_user_path(@user), class: "btn btn-primary" %></strong><br>

<h3> <%= @user.name%> cars ! </h3>

<% if @user.cars.empty? %>
    "No cars yet!"
<% else %>
    <% @user.cars.each do |car| %> 
    <ul>
        <li><strong>Car Model: <%= car.model%></strong></li>
        <li> Car Make: <%= car.make%></li>
        <li>Car License Plate: <%= car.license_plate%></li> 
    </ul>
    <% end %>
<% end %><br> 

