<h1>Create a User! </h1>

<%= form_for(@car) do |f| %>
<div>
<%= f.label :make %>
<%= f.text_field :make %>
</div>
<div>
<%= f.label :model %>
<%= f.text_field :model %>
</div>
<div>
<div>
<%= f.label :license_plate %>
<%= f.text_field :license_plate %>
</div>
<%= f.submit %>
<% end %>